apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cossiomainsite
  name: cossiomainsite
  namespace: jeancossio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cossiomainsite
  template:
    metadata:
      labels:
        app: cossiomainsite
    spec:
      containers:
      - image: nginx:1.27.4
        name: nginx
        ports:
          - containerPort: 80
        volumeMounts:
          - mountPath: /usr/share/nginx/html
            name: mainsite-volume
      - image: python-test:web
        name: python-flask
        ports:
          - containerPort: 2000
      volumes:
        - name: mainsite-volume
          persistentVolumeClaim:
            claimName: mainsite-data


