apiVersion: v1
kind: Service
metadata:
  labels:
    app: cossiomainsite
  name: cossiomainsite
  namespace: jeancossio
spec:
  ports:
  - name: nginx
    port: 8016
    protocol: TCP
    targetPort: 80
  - name: python
    port: 8017
    protocol: TCP
    targetPort: 2000
  selector:
    app: cossiomainsite
  type: LoadBalancer
